{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Submit{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
      <label for="message">Your message:</label>
      <input name="message" id="message">
      <br>
      <label for="name">Your name or handle:</label>
      <input name="name" id="name">
      <br>
      <input type="submit" value="Submit message">
  </form>
  {% if thanks %}
    Thank you for submitting a message!
  {% endif %}
{% endblock %}
